.top { 

    background-color: #805215 ;
    text-decoration-color: white;
    text-align: center;
    padding: 15px 32px;


}




/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/


